.footer {
	background: $colorFooter;
	padding: 20px;

	&__copy {
		color: #fff;
		text-align: center;
		margin: 0 auto 20px;
		max-width: 300px;
	}

	&__right {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 15px;
	}

	&__phone {
		color: #fff;
		width: 50%;
		margin-bottom: 10px;
		text-align: center;
	}

	&__email {
		color: #fff;
		text-decoration: underline;
		width: 100%;
		text-align: center;
	}

	.l-abuse {
		margin-bottom: 20px;
		text-align: center;
	}
}
