.menu-footer {
	border-top: 1px solid #ccc;
	padding-top: 15px;
	margin: 0 -20px;

	&__inner {

	}

	&__nav {

	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		width: 50%;
		margin-bottom: 10px;
		text-align: center;
	}

	&__link {
		color: #fff;
	}

	&__sep {
		display: none;
	}
}
