body {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	// color: $colorText;
}

a {
	color: $colorLink;
}

a:hover {
	text-decoration: underline;
}
